[OK] WeasyPrint charge avec succes pour PurchaseOrder!
[OK] WeasyPrint charge avec succes!
BEGIN;
--
-- Add field allergies to client
--
CREATE TABLE "new__accounts_client" ("allergies" text NOT NULL, "id" char(32) NOT NULL PRIMARY KEY, "name" varchar(200) NOT NULL, "email" varchar(254) NOT NULL, "phone" varchar(20) NOT NULL, "address" text NOT NULL, "contact_person" varchar(100) NOT NULL, "tax_id" varchar(50) NOT NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "organization_id" char(32) NULL REFERENCES "accounts_organization" ("id") DEFERRABLE INITIALLY DEFERRED, "payment_terms" varchar(100) NOT NULL, "last_activity_date" datetime NULL, "auto_inactive_since" datetime NULL, "is_manually_active" bool NOT NULL);
INSERT INTO "new__accounts_client" ("id", "name", "email", "phone", "address", "contact_person", "tax_id", "is_active", "created_at", "updated_at", "organization_id", "payment_terms", "last_activity_date", "auto_inactive_since", "is_manually_active", "allergies") SELECT "id", "name", "email", "phone", "address", "contact_person", "tax_id", "is_active", "created_at", "updated_at", "organization_id", "payment_terms", "last_activity_date", "auto_inactive_since", "is_manually_active", '' FROM "accounts_client";
DROP TABLE "accounts_client";
ALTER TABLE "new__accounts_client" RENAME TO "accounts_client";
CREATE INDEX "accounts_client_organization_id_990c6d12" ON "accounts_client" ("organization_id");
--
-- Add field blood_type to client
--
CREATE TABLE "new__accounts_client" ("id" char(32) NOT NULL PRIMARY KEY, "name" varchar(200) NOT NULL, "email" varchar(254) NOT NULL, "phone" varchar(20) NOT NULL, "address" text NOT NULL, "contact_person" varchar(100) NOT NULL, "tax_id" varchar(50) NOT NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "organization_id" char(32) NULL REFERENCES "accounts_organization" ("id") DEFERRABLE INITIALLY DEFERRED, "payment_terms" varchar(100) NOT NULL, "last_activity_date" datetime NULL, "auto_inactive_since" datetime NULL, "is_manually_active" bool NOT NULL, "allergies" text NOT NULL, "blood_type" varchar(3) NOT NULL);
INSERT INTO "new__accounts_client" ("id", "name", "email", "phone", "address", "contact_person", "tax_id", "is_active", "created_at", "updated_at", "organization_id", "payment_terms", "last_activity_date", "auto_inactive_since", "is_manually_active", "allergies", "blood_type") SELECT "id", "name", "email", "phone", "address", "contact_person", "tax_id", "is_active", "created_at", "updated_at", "organization_id", "payment_terms", "last_activity_date", "auto_inactive_since", "is_manually_active", "allergies", '' FROM "accounts_client";
DROP TABLE "accounts_client";
ALTER TABLE "new__accounts_client" RENAME TO "accounts_client";
CREATE INDEX "accounts_client_organization_id_990c6d12" ON "accounts_client" ("organization_id");
--
-- Add field chronic_conditions to client
--
CREATE TABLE "new__accounts_client" ("id" char(32) NOT NULL PRIMARY KEY, "name" varchar(200) NOT NULL, "email" varchar(254) NOT NULL, "phone" varchar(20) NOT NULL, "address" text NOT NULL, "contact_person" varchar(100) NOT NULL, "tax_id" varchar(50) NOT NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "organization_id" char(32) NULL REFERENCES "accounts_organization" ("id") DEFERRABLE INITIALLY DEFERRED, "payment_terms" varchar(100) NOT NULL, "last_activity_date" datetime NULL, "auto_inactive_since" datetime NULL, "is_manually_active" bool NOT NULL, "allergies" text NOT NULL, "blood_type" varchar(3) NOT NULL, "chronic_conditions" text NOT NULL);
INSERT INTO "new__accounts_client" ("id", "name", "email", "phone", "address", "contact_person", "tax_id", "is_active", "created_at", "updated_at", "organization_id", "payment_terms", "last_activity_date", "auto_inactive_since", "is_manually_active", "allergies", "blood_type", "chronic_conditions") SELECT "id", "name", "email", "phone", "address", "contact_person", "tax_id", "is_active", "created_at", "updated_at", "organization_id", "payment_terms", "last_activity_date", "auto_inactive_since", "is_manually_active", "allergies", "blood_type", '' FROM "accounts_client";
DROP TABLE "accounts_client";
ALTER TABLE "new__accounts_client" RENAME TO "accounts_client";
CREATE INDEX "accounts_client_organization_id_990c6d12" ON "accounts_client" ("organization_id");
--
-- Add field client_type to client
--
CREATE TABLE "new__accounts_client" ("id" char(32) NOT NULL PRIMARY KEY, "name" varchar(200) NOT NULL, "email" varchar(254) NOT NULL, "phone" varchar(20) NOT NULL, "address" text NOT NULL, "contact_person" varchar(100) NOT NULL, "tax_id" varchar(50) NOT NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "organization_id" char(32) NULL REFERENCES "accounts_organization" ("id") DEFERRABLE INITIALLY DEFERRED, "payment_terms" varchar(100) NOT NULL, "last_activity_date" datetime NULL, "auto_inactive_since" datetime NULL, "is_manually_active" bool NOT NULL, "allergies" text NOT NULL, "blood_type" varchar(3) NOT NULL, "chronic_conditions" text NOT NULL, "client_type" varchar(20) NOT NULL);
INSERT INTO "new__accounts_client" ("id", "name", "email", "phone", "address", "contact_person", "tax_id", "is_active", "created_at", "updated_at", "organization_id", "payment_terms", "last_activity_date", "auto_inactive_since", "is_manually_active", "allergies", "blood_type", "chronic_conditions", "client_type") SELECT "id", "name", "email", "phone", "address", "contact_person", "tax_id", "is_active", "created_at", "updated_at", "organization_id", "payment_terms", "last_activity_date", "auto_inactive_since", "is_manually_active", "allergies", "blood_type", "chronic_conditions", 'b2b' FROM "accounts_client";
DROP TABLE "accounts_client";
ALTER TABLE "new__accounts_client" RENAME TO "accounts_client";
CREATE INDEX "accounts_client_organization_id_990c6d12" ON "accounts_client" ("organization_id");
--
-- Add field date_of_birth to client
--
ALTER TABLE "accounts_client" ADD COLUMN "date_of_birth" date NULL;
--
-- Add field emergency_contact_name to client
--
CREATE TABLE "new__accounts_client" ("id" char(32) NOT NULL PRIMARY KEY, "name" varchar(200) NOT NULL, "email" varchar(254) NOT NULL, "phone" varchar(20) NOT NULL, "address" text NOT NULL, "contact_person" varchar(100) NOT NULL, "tax_id" varchar(50) NOT NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "organization_id" char(32) NULL REFERENCES "accounts_organization" ("id") DEFERRABLE INITIALLY DEFERRED, "payment_terms" varchar(100) NOT NULL, "last_activity_date" datetime NULL, "auto_inactive_since" datetime NULL, "is_manually_active" bool NOT NULL, "allergies" text NOT NULL, "blood_type" varchar(3) NOT NULL, "chronic_conditions" text NOT NULL, "client_type" varchar(20) NOT NULL, "date_of_birth" date NULL, "emergency_contact_name" varchar(200) NOT NULL);
INSERT INTO "new__accounts_client" ("id", "name", "email", "phone", "address", "contact_person", "tax_id", "is_active", "created_at", "updated_at", "organization_id", "payment_terms", "last_activity_date", "auto_inactive_since", "is_manually_active", "allergies", "blood_type", "chronic_conditions", "client_type", "date_of_birth", "emergency_contact_name") SELECT "id", "name", "email", "phone", "address", "contact_person", "tax_id", "is_active", "created_at", "updated_at", "organization_id", "payment_terms", "last_activity_date", "auto_inactive_since", "is_manually_active", "allergies", "blood_type", "chronic_conditions", "client_type", "date_of_birth", '' FROM "accounts_client";
DROP TABLE "accounts_client";
ALTER TABLE "new__accounts_client" RENAME TO "accounts_client";
CREATE INDEX "accounts_client_organization_id_990c6d12" ON "accounts_client" ("organization_id");
--
-- Add field emergency_contact_phone to client
--
CREATE TABLE "new__accounts_client" ("id" char(32) NOT NULL PRIMARY KEY, "name" varchar(200) NOT NULL, "email" varchar(254) NOT NULL, "phone" varchar(20) NOT NULL, "address" text NOT NULL, "contact_person" varchar(100) NOT NULL, "tax_id" varchar(50) NOT NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "organization_id" char(32) NULL REFERENCES "accounts_organization" ("id") DEFERRABLE INITIALLY DEFERRED, "payment_terms" varchar(100) NOT NULL, "last_activity_date" datetime NULL, "auto_inactive_since" datetime NULL, "is_manually_active" bool NOT NULL, "allergies" text NOT NULL, "blood_type" varchar(3) NOT NULL, "chronic_conditions" text NOT NULL, "client_type" varchar(20) NOT NULL, "date_of_birth" date NULL, "emergency_contact_name" varchar(200) NOT NULL, "emergency_contact_phone" varchar(20) NOT NULL);
INSERT INTO "new__accounts_client" ("id", "name", "email", "phone", "address", "contact_person", "tax_id", "is_active", "created_at", "updated_at", "organization_id", "payment_terms", "last_activity_date", "auto_inactive_since", "is_manually_active", "allergies", "blood_type", "chronic_conditions", "client_type", "date_of_birth", "emergency_contact_name", "emergency_contact_phone") SELECT "id", "name", "email", "phone", "address", "contact_person", "tax_id", "is_active", "created_at", "updated_at", "organization_id", "payment_terms", "last_activity_date", "auto_inactive_since", "is_manually_active", "allergies", "blood_type", "chronic_conditions", "client_type", "date_of_birth", "emergency_contact_name", '' FROM "accounts_client";
DROP TABLE "accounts_client";
ALTER TABLE "new__accounts_client" RENAME TO "accounts_client";
CREATE INDEX "accounts_client_organization_id_990c6d12" ON "accounts_client" ("organization_id");
--
-- Add field gender to client
--
CREATE TABLE "new__accounts_client" ("id" char(32) NOT NULL PRIMARY KEY, "name" varchar(200) NOT NULL, "email" varchar(254) NOT NULL, "phone" varchar(20) NOT NULL, "address" text NOT NULL, "contact_person" varchar(100) NOT NULL, "tax_id" varchar(50) NOT NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "organization_id" char(32) NULL REFERENCES "accounts_organization" ("id") DEFERRABLE INITIALLY DEFERRED, "payment_terms" varchar(100) NOT NULL, "last_activity_date" datetime NULL, "auto_inactive_since" datetime NULL, "is_manually_active" bool NOT NULL, "allergies" text NOT NULL, "blood_type" varchar(3) NOT NULL, "chronic_conditions" text NOT NULL, "client_type" varchar(20) NOT NULL, "date_of_birth" date NULL, "emergency_contact_name" varchar(200) NOT NULL, "emergency_contact_phone" varchar(20) NOT NULL, "gender" varchar(1) NOT NULL);
INSERT INTO "new__accounts_client" ("id", "name", "email", "phone", "address", "contact_person", "tax_id", "is_active", "created_at", "updated_at", "organization_id", "payment_terms", "last_activity_date", "auto_inactive_since", "is_manually_active", "allergies", "blood_type", "chronic_conditions", "client_type", "date_of_birth", "emergency_contact_name", "emergency_contact_phone", "gender") SELECT "id", "name", "email", "phone", "address", "contact_person", "tax_id", "is_active", "created_at", "updated_at", "organization_id", "payment_terms", "last_activity_date", "auto_inactive_since", "is_manually_active", "allergies", "blood_type", "chronic_conditions", "client_type", "date_of_birth", "emergency_contact_name", "emergency_contact_phone", '' FROM "accounts_client";
DROP TABLE "accounts_client";
ALTER TABLE "new__accounts_client" RENAME TO "accounts_client";
CREATE INDEX "accounts_client_organization_id_990c6d12" ON "accounts_client" ("organization_id");
--
-- Add field patient_number to client
--
CREATE TABLE "new__accounts_client" ("id" char(32) NOT NULL PRIMARY KEY, "name" varchar(200) NOT NULL, "email" varchar(254) NOT NULL, "phone" varchar(20) NOT NULL, "address" text NOT NULL, "contact_person" varchar(100) NOT NULL, "tax_id" varchar(50) NOT NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "organization_id" char(32) NULL REFERENCES "accounts_organization" ("id") DEFERRABLE INITIALLY DEFERRED, "payment_terms" varchar(100) NOT NULL, "last_activity_date" datetime NULL, "auto_inactive_since" datetime NULL, "is_manually_active" bool NOT NULL, "allergies" text NOT NULL, "blood_type" varchar(3) NOT NULL, "chronic_conditions" text NOT NULL, "client_type" varchar(20) NOT NULL, "date_of_birth" date NULL, "emergency_contact_name" varchar(200) NOT NULL, "emergency_contact_phone" varchar(20) NOT NULL, "gender" varchar(1) NOT NULL, "patient_number" varchar(50) NULL UNIQUE);
INSERT INTO "new__accounts_client" ("id", "name", "email", "phone", "address", "contact_person", "tax_id", "is_active", "created_at", "updated_at", "organization_id", "payment_terms", "last_activity_date", "auto_inactive_since", "is_manually_active", "allergies", "blood_type", "chronic_conditions", "client_type", "date_of_birth", "emergency_contact_name", "emergency_contact_phone", "gender", "patient_number") SELECT "id", "name", "email", "phone", "address", "contact_person", "tax_id", "is_active", "created_at", "updated_at", "organization_id", "payment_terms", "last_activity_date", "auto_inactive_since", "is_manually_active", "allergies", "blood_type", "chronic_conditions", "client_type", "date_of_birth", "emergency_contact_name", "emergency_contact_phone", "gender", NULL FROM "accounts_client";
DROP TABLE "accounts_client";
ALTER TABLE "new__accounts_client" RENAME TO "accounts_client";
CREATE INDEX "accounts_client_organization_id_990c6d12" ON "accounts_client" ("organization_id");
--
-- Add field referring_hospital to client
--
CREATE TABLE "new__accounts_client" ("id" char(32) NOT NULL PRIMARY KEY, "name" varchar(200) NOT NULL, "email" varchar(254) NOT NULL, "phone" varchar(20) NOT NULL, "address" text NOT NULL, "contact_person" varchar(100) NOT NULL, "tax_id" varchar(50) NOT NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "organization_id" char(32) NULL REFERENCES "accounts_organization" ("id") DEFERRABLE INITIALLY DEFERRED, "payment_terms" varchar(100) NOT NULL, "last_activity_date" datetime NULL, "auto_inactive_since" datetime NULL, "is_manually_active" bool NOT NULL, "allergies" text NOT NULL, "blood_type" varchar(3) NOT NULL, "chronic_conditions" text NOT NULL, "client_type" varchar(20) NOT NULL, "date_of_birth" date NULL, "emergency_contact_name" varchar(200) NOT NULL, "emergency_contact_phone" varchar(20) NOT NULL, "gender" varchar(1) NOT NULL, "patient_number" varchar(50) NULL UNIQUE, "referring_hospital" varchar(200) NOT NULL);
INSERT INTO "new__accounts_client" ("id", "name", "email", "phone", "address", "contact_person", "tax_id", "is_active", "created_at", "updated_at", "organization_id", "payment_terms", "last_activity_date", "auto_inactive_since", "is_manually_active", "allergies", "blood_type", "chronic_conditions", "client_type", "date_of_birth", "emergency_contact_name", "emergency_contact_phone", "gender", "patient_number", "referring_hospital") SELECT "id", "name", "email", "phone", "address", "contact_person", "tax_id", "is_active", "created_at", "updated_at", "organization_id", "payment_terms", "last_activity_date", "auto_inactive_since", "is_manually_active", "allergies", "blood_type", "chronic_conditions", "client_type", "date_of_birth", "emergency_contact_name", "emergency_contact_phone", "gender", "patient_number", '' FROM "accounts_client";
DROP TABLE "accounts_client";
ALTER TABLE "new__accounts_client" RENAME TO "accounts_client";
CREATE INDEX "accounts_client_organization_id_990c6d12" ON "accounts_client" ("organization_id");
--
-- Add field registration_source to client
--
CREATE TABLE "new__accounts_client" ("id" char(32) NOT NULL PRIMARY KEY, "name" varchar(200) NOT NULL, "email" varchar(254) NOT NULL, "phone" varchar(20) NOT NULL, "address" text NOT NULL, "contact_person" varchar(100) NOT NULL, "tax_id" varchar(50) NOT NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "organization_id" char(32) NULL REFERENCES "accounts_organization" ("id") DEFERRABLE INITIALLY DEFERRED, "payment_terms" varchar(100) NOT NULL, "last_activity_date" datetime NULL, "auto_inactive_since" datetime NULL, "is_manually_active" bool NOT NULL, "allergies" text NOT NULL, "blood_type" varchar(3) NOT NULL, "chronic_conditions" text NOT NULL, "client_type" varchar(20) NOT NULL, "date_of_birth" date NULL, "emergency_contact_name" varchar(200) NOT NULL, "emergency_contact_phone" varchar(20) NOT NULL, "gender" varchar(1) NOT NULL, "patient_number" varchar(50) NULL UNIQUE, "referring_hospital" varchar(200) NOT NULL, "registration_source" varchar(20) NOT NULL);
INSERT INTO "new__accounts_client" ("id", "name", "email", "phone", "address", "contact_person", "tax_id", "is_active", "created_at", "updated_at", "organization_id", "payment_terms", "last_activity_date", "auto_inactive_since", "is_manually_active", "allergies", "blood_type", "chronic_conditions", "client_type", "date_of_birth", "emergency_contact_name", "emergency_contact_phone", "gender", "patient_number", "referring_hospital", "registration_source") SELECT "id", "name", "email", "phone", "address", "contact_person", "tax_id", "is_active", "created_at", "updated_at", "organization_id", "payment_terms", "last_activity_date", "auto_inactive_since", "is_manually_active", "allergies", "blood_type", "chronic_conditions", "client_type", "date_of_birth", "emergency_contact_name", "emergency_contact_phone", "gender", "patient_number", "referring_hospital", '' FROM "accounts_client";
DROP TABLE "accounts_client";
ALTER TABLE "new__accounts_client" RENAME TO "accounts_client";
CREATE INDEX "accounts_client_organization_id_990c6d12" ON "accounts_client" ("organization_id");
--
-- Add field whatsapp to client
--
CREATE TABLE "new__accounts_client" ("id" char(32) NOT NULL PRIMARY KEY, "name" varchar(200) NOT NULL, "email" varchar(254) NOT NULL, "phone" varchar(20) NOT NULL, "address" text NOT NULL, "contact_person" varchar(100) NOT NULL, "tax_id" varchar(50) NOT NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "organization_id" char(32) NULL REFERENCES "accounts_organization" ("id") DEFERRABLE INITIALLY DEFERRED, "payment_terms" varchar(100) NOT NULL, "last_activity_date" datetime NULL, "auto_inactive_since" datetime NULL, "is_manually_active" bool NOT NULL, "allergies" text NOT NULL, "blood_type" varchar(3) NOT NULL, "chronic_conditions" text NOT NULL, "client_type" varchar(20) NOT NULL, "date_of_birth" date NULL, "emergency_contact_name" varchar(200) NOT NULL, "emergency_contact_phone" varchar(20) NOT NULL, "gender" varchar(1) NOT NULL, "patient_number" varchar(50) NULL UNIQUE, "referring_hospital" varchar(200) NOT NULL, "registration_source" varchar(20) NOT NULL, "whatsapp" varchar(20) NOT NULL);
INSERT INTO "new__accounts_client" ("id", "name", "email", "phone", "address", "contact_person", "tax_id", "is_active", "created_at", "updated_at", "organization_id", "payment_terms", "last_activity_date", "auto_inactive_since", "is_manually_active", "allergies", "blood_type", "chronic_conditions", "client_type", "date_of_birth", "emergency_contact_name", "emergency_contact_phone", "gender", "patient_number", "referring_hospital", "registration_source", "whatsapp") SELECT "id", "name", "email", "phone", "address", "contact_person", "tax_id", "is_active", "created_at", "updated_at", "organization_id", "payment_terms", "last_activity_date", "auto_inactive_since", "is_manually_active", "allergies", "blood_type", "chronic_conditions", "client_type", "date_of_birth", "emergency_contact_name", "emergency_contact_phone", "gender", "patient_number", "referring_hospital", "registration_source", '' FROM "accounts_client";
DROP TABLE "accounts_client";
ALTER TABLE "new__accounts_client" RENAME TO "accounts_client";
CREATE INDEX "accounts_client_organization_id_990c6d12" ON "accounts_client" ("organization_id");
--
-- Alter field role on customuser
--
-- (no-op)
COMMIT;
